{{!-- cssFile[{fileName: "styles_party_live"}], jsFile[{fileName: "jquery.min"}], #000000 --}}


<!-- Floating button with link to current playlist -->

<!-- "floating-button-begin" -->
<a href="/songs" class="floating-button"></a>
<div class="label-container">
	<div class="label-text">View Song List</div>
</div>
<!-- "floating-button-end" -->

<!-- Section that contains the table with all found music video -->
<section>
	<div class="live-elements" id="refresh">
		<!-- "begin-section-end" -->
		<!-- "demo-playlist-begin" -->

{{#each liveElement}}
		<div class="live-element">
			<div id="{{this.id}}" class="upvote-counter">
				{{this.upvotes}}
			</div>
			<div class="song-and-artist">
				<div class="playlist-number">
					{{this.positionNumber}}
				</div>
				<div class="song-title">
					{{this.title}}
				</div>
				<div class="song-artist">
					{{this.artist}}
				</div>
			</div>
			<div class="author-and-comment">
				<div class="author">
					<p class="author-text">{{this.author}}</p>
				</div>
				<div class="scroll-comment">
					<marquee behavior="scroll" direction="left" scrollamount="5">{{this.comment}}</marquee>
				</div>
			</div>
			<p class="text-beta">{{this.comment}}</p>
			<div class="upvotes">
				<div class="upvote-button">
					<button class="upvote-button-button" id="{{this.id}}">Vote</button>
				</div>
			</div>
		</div>
		{{/each}}

		<!-- "demo-playlist-end" -->
	</div>
</section>

<script>
	$(document).ready(function () {

		/* bind event handlers when the page loads */
		bindButtonClick();


		$('live-elements').on('click', '.upvote-button-button', function () {
			var d = document.getElementById(this.id);
			d.classList.toggle("activated");

			var doThis = "get";

			/* If the button is now "activated" */
			if (d.classList.contains("activated")) {
				/* add the votes + 1 */
				doThis = "inc";
			} else {
				/* remove the vote - 1 */
				doThis = "dec";
			}

			$.ajax({
				url: '../php/vote.php?file=' + document.getElementById("file" + this.id).innerHTML + '&type=' + doThis,
				success: function (result) {
					$("#vote" + this.id).html(result);
				}
			});

			return false;
		});


		function bindButtonClick() {
			$('.upvote-button-button').click(function () {
				/* Toggle class "activated" (add or remove the class) */
				var d = document.getElementById(this.id);
				d.classList.toggle("activated");

				var doThis = "get";

				/* If the button is now "activated" */
				if (d.classList.contains("activated")) {
					/* add the votes + 1 */
					doThis = "inc";
				} else {
					/* remove the vote - 1 */
					doThis = "dec";
				}

				var savedID = this.id;

				$.ajax({
					url: '../php/vote.php?file=' + document.getElementById("file" + this.id).innerHTML + '&type=' + doThis,
					success: function (result) {
						$("#vote" + savedID).html(result);
					}
				});

				return false;
			});
		}
	});

</script>

<!-- "body-end" -->



<script>

	$(document).ready(function () {
		/* use this for the special playlist view window */
		/* update every 12 seconds */
		window.setInterval(function () {
			$.ajax({
				url: '../php/live.php',
				success: function (result) {
					$("#refresh").html(result);
					/* re-bind event handlers to '.myClickableElement' */
					bindButtonClick();
				}
			});
		}, 20000);

		function bindButtonClick() {
			$('.upvote-button-button').click(function () {
				/* Toggle class "activated" (add or remove the class) */
				var d = document.getElementById(this.id);
				d.classList.toggle("activated");

				var doThis = "get";

				/* If the button is now "activated" */
				if (d.classList.contains("activated")) {
					/* add the votes + 1 */
					doThis = "inc";
				} else {
					/* remove the vote - 1 */
					doThis = "dec";
				}

				var savedID = this.id;

				$.ajax({
					url: '../php/vote.php?file=' + document.getElementById("file" + this.id).innerHTML + '&type=' + doThis,
					success: function (result) {
						$("#vote" + savedID).html(result);
					}
				});

				return false;
			});
		}
	});

</script>

<!-- "script-repeat" -->


</body>



</html>